{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
    <div class="container">
        <h1>Scan History</h1>

        <table class="scanhistory_list table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Netrange</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{% if entity.time %}{{ entity.time|date('d.m.Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.netRange }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
