{% extends "FOSUserBundle::layout.html.twig" %}

{% block bodfos_user_contenty -%}
    <h1>Network creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('network') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
