/*
//-- Document --//
*/
html, body {
    height: 100%;
    background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* W3C */
}
body {
    padding-top: 65px;
}


/*
//-- Typography --//
*/
h1 {
    margin-bottom: 40px;
}
h1.title {
    color: white;
    font-weight: bold;
    font-size: 55px;
}


/*
//-- Content --//
*/
.content {
    background-color: white;
    margin-top: 50px;
}


/*
//-- Misc. --//
*/
.centered {
    text-align: center;
}


/*
//-- Panels --//
*/
.panel-inverse {
    border-color: #080808;
}
.panel-inverse > .panel-heading {
    background-color: #222;
    color: #9d9d9d;
}
.panel-heading {
    padding: 8px 15px;
}
.panel-title {
    font-size: 14px;
}

/*
//-- Tables --//
*/
table {
    font-size: 12px;
}
table tr.active td {
    font-weight: bold;
}
table.tablesorter td > ul {
    list-style: none;
    padding-left: 0;
}

/*
//== Composition ==//
*/
.versions {
    text-align: center;
    color: rgba(255, 255, 255, .65);
}
.versions .version-numbers {
    font-size: 130px;
    line-height: 130px;
    font-weight: bolder;
}