{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1 class="centered title">SysVentory</h1><br><br>
                <strong>Herlich Willkommen, {{ app.user.username }}!</strong>
                <p>
                    Dies ist eine F채cher체bergreifende, interdisziplin채re Projektarbeit welche im 6. Semester zum Lehrgang zum Dipl. Informatiker HF entwickelt wurde. Bei der Umsetzung
                    wurde erstmals das PHP5 Framework "Symfony2" eingesetzt.
                </p>
                <p>
                    Diese Software ist OpenSource und wird auf Github gehostet. Zudem wurde Travis-CI f체r einen sauberen Contiunous-Integration Workflow benutzt.
                </p>
                <br>
                <div align="center">
                    <a class="github-button" href="https://github.com/Cogax/SysVentoryServer" data-icon="octicon-eye" aria-label="Watch Cogax/SysVentoryServer on GitHub">Watch</a>
                    <a class="github-button" href="https://github.com/Cogax/SysVentoryServer/fork" data-icon="octicon-git-branch" aria-label="Fork Cogax/SysVentoryServer on GitHub">Fork</a>
                    <a class="github-button" href="https://github.com/Cogax/SysVentoryServer/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download Cogax/SysVentoryServer on GitHub">Download</a>
                    <a class="github-button" href="https://github.com/Cogax" aria-label="Follow @Cogax on GitHub">Follow @Cogax</a>
                    <br>
                    <img src="https://travis-ci.org/Cogax/SysVentoryServer.svg?branch=master" />
                </div>
            </div>
        </div>
    </div>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}