{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Scan erfassen{% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 content scan-new">

            <h1 class="inverse">Scan erfassen</h1>

            {% if errors is defined %}
                <h3>The author has the following errors</h3>
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form(form) }}

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            //-- Variables --
            var $networkNameInput = $("input#appbundle_scan_name");
            var $networkNameFormGroup = $networkNameInput.closest(".form-group");
            var $storeNetworkInput = $("input#appbundle_scan_store");

            //-- Default behavoirs --
            $networkNameFormGroup.hide();

            //-- Event listeners --
            $storeNetworkInput.click(function(event) {
                $networkNameFormGroup.toggle();
                $(this).prop('checked') ?
                        $networkNameInput.attr('required', 'required') :
                        $networkNameInput.removeAttr('required');
            });
        });
    </script>
{% endblock %}
