{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 content">

            <h1>Scan creation</h1>

            {% if errors is defined %}
                <h3>The author has the following errors</h3>
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form(form) }}

        </div>
    </div>
</div>
{% endblock %}
