{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="centered">Eingesetzte Betriebssysteme</h1>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3" id="os_chart_div"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', {packages: ['corechart']});
        google.setOnLoadCallback(drawOperatingSystemChart);

        function drawOperatingSystemChart() {
            var data = google.visualization.arrayToDataTable([
                ['Betriebssystem', 'Installationen'],
                {% for os in dataset %}
                    ['{{ os.label }}', {{ os.quantity }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Betriebssysteme',
                is3D: true,
                width: 600,
                height: 350,
            };

            var chart = new google.visualization.PieChart(document.getElementById('os_chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
